/* .hello{
    margin-top: 900px;
    border: solid red;
    
} */
 #button_up{
    /* animation : scroll 1s ease */
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}
/* @keyframes scroll {
    0% {

scroll-behavior: initial;   
 }

    100% {
scroll-behavior: smooth;   
 } 
  } */
  .container{
    border: 2px;
    width: 2000px;
    height: 2000px;

}
